
@{
    ViewData["Title"] = "Home Page";
}

<section class="vh-100" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card rounded-3">
          <div class="card-body p-4">

            <h4 class="text-center my-3 pb-3">To Do App</h4>
            <form 
              class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2"
              id="addToDoElement" method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="AddElement">
              <div class="col-12">
                <div class="form-outline">
                  <input type="text" id="textElement" name="textElement" class="form-control" />
                  <label class="form-label" for="form1">Enter a task here</label>
                </div>
              </div>

              <div class="col-12">
                <input id="inputTextElement" type="button" class="btn btn-primary" value="Save" onclick="AjaxFormSubmit();"/>
              </div>
            </form>
            @section Scripts
            {
              <script>
                var elText = document.getElementById("textElement");
                async function AjaxFormSubmit() {

                  var url = "/Home/AddElement";
                  let response = await fetch(url + "?textElement=" + elText.value);
                  let data = await response.text();

                  var itemList = document.getElementById("itemList");
                  itemList.innerHTML = "";
                  itemList.innerHTML = data;

                  document.getElementById("inputTextElement").value = "";
                }
              </script>
            }
            <div id = "itemList">
              <partial name="TodoElementList"></partial>
            </div>       
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
